/* Variables */

:root {
  /* Fonts */

  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Colors */

  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --secondary-color: #2e2f42;
  --third-color: #ffffff;
  --subtitle-color: #8e8f99;
  --success-color: #31d0aa;

  --primary-text: #434455;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-background: #fcfcfc;

  /* Gradients */

  --bg-gradient: rgba(46, 47, 66, 0.7);
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --close-btn-border: rgba(0, 0, 0, 0.1);

  /* Shadows */

  --header-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  --hero-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --team-card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --filter-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --project-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --modal-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --footer-input-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  /* Other */

  --gap-x: 24px;
  --gap-y: 72px;
  --items: 1;
  --transition-timings: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Styles reset */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Titles */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.section-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-color);
}

/* Body */

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text);
  background-color: var(--third-color);
}
.container {
  /* Basic styles */
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}
/* Mobile screen <= 319  */
@media only screen and (max-width: 319px) {
  .container {
    min-width: 300px;
  }
}
/* Tablet screen >= 768  */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.section {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}
.features-list,
.work-list,
.team-list,
.team-social-list,
.filter-list,
.customers-list {
  display: flex;
  row-gap: var(--gap-y);
  column-gap: var(--gap-x);
  justify-content: center;
  align-items: center;
}
.work-list-img,
.team-img,
.project-foto {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */

.page-header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: var(--header-shadow);
}
.header-container {
  min-width: 300px;
  display: flex;
  align-items: center;

  padding: 24px 16px 22px 16px;
}
@media only screen and (min-width: 768px) {
  .header-container {
    padding: 0 16px;
  }
}
@media only screen and (min-width: 1158px) {
  .header-container {
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
}
@media only screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}
@media only screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}
.logo-part-header {
  color: var(--secondary-color);
}
.contacts,
.nav-list {
  display: none;
}
@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media only screen and (min-width: 1158px) {
  .contacts {
    flex-direction: row;
    gap: 40px;
  }
}
.nav-link {
  transition: color var(--transition-timings);

  position: relative;

  display: block;
  padding: 24px 0;

  font-weight: 500;
  color: var(--secondary-color);
}
.nav-link.current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;

  opacity: 1;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state-color);
}
.mail-tel {
  margin-left: auto;
  width: max-content;

  font-style: normal;
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .contacts-item {
    font-size: 9.5px;
  }
}
@media only screen and (min-width: 768px) {
  .mail-tel-link {
    transition: color var(--transition-timings);

    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.04em;

    color: inherit;
  }
}
@media only screen and (min-width: 1158px) {
  .mail-tel-link {
    display: block;
    padding: 24px 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: inherit;
  }
}
.nav-link:hover,
.nav-link:focus,
.mail-tel-link:hover,
.mail-tel-link:focus,
.nav-link.current {
  color: var(--pressed-state-color);
}
/* Mobile menu */

.menu-toggle {
  transition: background-color var(--transition-timings),
    border var(--transition-timings);

  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: var(--secondary-color);
  background-color: transparent;
  border: 1px solid var(--close-btn-border);
  padding: 0;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus,
.menu-toggle:active {
  color: var(--third-color);
  background-color: var(--pressed-state-color);
  border: transparent;
}
.burger-menu {
  transition: background-color var(--transition-timings);

  display: flex;
  color: var(--secondary-color);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: none;
}
@media only screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}
.burger-menu:hover,
.burger-menu:focus {
  stroke: var(--pressed-state-color);
}
.burger-menu-icon {
  transition: stroke var(--transition-timings);
  stroke: currentColor;
}
.icon-close-mobile {
  transition: fill var(--transition-timings);

  fill: currentColor;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-bottom: auto;
}
.mobile-contacts {
  margin-bottom: 48px;
}
.mobile-tel-item {
  margin-bottom: 40px;
}
.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
}
.active-mobile-link {
  color: var(--pressed-state-color);
}
.mobile-link:hover,
.mobile-link:focus {
  color: var(--pressed-state-color);
}
.mobile-tel-link {
  display: block;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-brand-color);
}
@media only screen and (max-width: 369px) {
  .mobile-tel-link {
    font-size: 24px;
  }
}
@media only screen and (min-width: 370px) and (max-width: 435px) {
  .mobile-tel-link {
    font-size: 28px;
  }
}
.mobile-mail-link {
  display: block;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 40px;
  background-color: var(--third-color);
  overflow-y: auto;
  z-index: 999;

  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform var(--transition-timings);
}

.menu-container.is-open {
  transform: translateX(0);
}
.social-list-mobile {
  display: flex;
  justify-content: flex-start;
  gap: calc((100% - (40px + 3 * 40px)) / 3);
}
@media only screen and (min-width: 420px) {
  .social-list-mobile {
    gap: 56px;
  }
}
.social-item-mobile {
  width: 40px;
  height: 40px;
}
.social-link-mobile {
  transition: background-color var(--transition-timings);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  background-color: var(--primary-brand-color);
  color: var(--light-color);
  border-radius: 50%;
}
.social-link-mobile:hover,
.social-link-mobile:focus {
  background-color: var(--pressed-state-color);
}
.social-icon-mobile {
  transition: fill var(--transition-timings);

  fill: currentColor;
  object-fit: cover;
}
/* Hero */

.hero.section {
  min-width: 300px;
  padding: 112px 0;
}
@media only screen and (min-width: 1158px) {
  .hero.section {
    padding: 188px 0;
  }
}
.hero {
  background-color: var(--secondary-color);

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* Mobile screen */
  background-image: linear-gradient(var(--bg-gradient), var(--bg-gradient)),
    url(../images/hero/people-office_mob.jpg);
  /* retina mobile screen */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(var(--bg-gradient), var(--bg-gradient)),
      url(../images/hero/people-office_mob@2x.jpg);
  }

  /* Tablet screen */
  @media screen and (min-width: 429px) {
    background-image: linear-gradient(var(--bg-gradient), var(--bg-gradient)),
      url(../images/hero/people-office_tab.jpg);
    /* retina tablet screen */
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(var(--bg-gradient), var(--bg-gradient)),
        url(../images/hero/people-office_tab@2x.jpg);
    }
  }

  /* Desktop screen */
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(var(--bg-gradient), var(--bg-gradient)),
      url(../images/hero/people-office.jpg);
    /* retina desktop screen */
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(var(--bg-gradient), var(--bg-gradient)),
        url(../images/hero/people-office@2x.jpg);
    }
  }
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 320px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--third-color);
}
@media only screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 36px;

    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
    max-width: 496px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.hero-btn,
.modal-form-btn {
  transition: background-color var(--transition-timings);

  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  box-shadow: var(--hero-btn-shadow);
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--third-color);
  background-color: var(--primary-brand-color);
}
.hero-btn:hover,
.hero-btn:focus,
.modal-form-btn:hover,
.modal-form-btn:focus,
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--pressed-state-color);
}

/* Features */

.features-list-position {
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .features-list-position {
    --items: 2;
  }
}
@media only screen and (min-width: 1158px) {
  .features-list-position {
    --items: 4;
  }
}
.features-item {
  width: calc((100% - var(--gap-x) * (var(--items) - 1)) / var(--items));
}
.features-thumb {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .features-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 112px;
    margin-bottom: 8px;

    background: var(--light-color);
    border-radius: 4px;
  }
}
.features-icon {
  object-fit: cover;
}
.features-title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
@media only screen and (min-width: 768px) {
  .features-title {
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.features-text {
  font-weight: 500;
}
@media only screen and (min-width: 1158px) {
  .features-text {
    font-weight: 400;
  }
}
/* Work */

.work.section {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .work.section {
    display: block;
    padding-top: 0;
  }
}
.work-list-item {
  --items: 3;
  width: calc((100% - var(--gap-x) * (var(--items) - 1)) / var(--items));
  border: 1px solid var(--accent-color);
}

/* Team */

.team {
  min-width: 300px;
  background-color: var(--light-color);
}
.team-container {
  max-width: 296px;
}
@media only screen and (max-width: 319px) {
  .team-container {
    padding: 0 28px;
    overflow: scroll;
  }
}
@media only screen and (min-width: 768px) {
  .team-container {
    max-width: 584px;
  }
}
@media only screen and (min-width: 1158px) {
  .team-container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.team-list-position {
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .team-list-position {
    --items: 2;
    --gap-y: 64px;
  }
}
@media only screen and (min-width: 1158px) {
  .team-list-position {
    --items: 4;
  }
}
.team-card {
  width: calc((100% - var(--gap-x) * (var(--items) - 1)) / var(--items));
  box-shadow: var(--team-card-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--third-color);
}
.team-card-container {
  padding: 32px 0;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.team-title,
.team-descr {
  margin-bottom: 8px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  transition: background-color var(--transition-timings);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  background-color: var(--primary-brand-color);
  color: var(--light-color);
  border-radius: 50%;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state-color);
}
.social-icon {
  transition: fill var(--transition-timings);

  fill: currentColor;
  object-fit: cover;
}

/* Customers */

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .customers-container {
    max-width: 584px;
  }
}
.customers-title {
  line-height: 1.1;
}
.customers-list-position {
  --items: 2;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  .customers-list-position {
    --gap-x: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .customers-list-position {
    --items: 3;
  }
}
@media only screen and (min-width: 1158px) {
  .customers-list-position {
    --items: 6;
  }
}
.customers-item {
  width: calc((100% - var(--gap-x) * (var(--items) - 1)) / var(--items));
  height: 88px;
}
.customers-link {
  transition: border-color var(--transition-timings),
    color var(--transition-timings);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  color: var(--subtitle-color);
  border: 1px solid var(--subtitle-color);
  border-radius: 4px;
}
.customers-link:hover,
.customers-link:focus {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}
.customers-icon {
  transition: fill var(--transition-timings);

  fill: currentColor;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .customers-icon {
    width: 110px;
  }
}

/* Footer */

.footer-section {
  padding: 96px 0;

  min-width: 300px;
  background-color: var(--secondary-color);
  color: var(--light-color);
}
@media only screen and (min-width: 1158px) {
  .footer-section {
    padding: 100px 0;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  row-gap: var(--gap-y);
  column-gap: var(--gap-x);
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
    padding: 0 16px;
    width: 584px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    column-gap: 0;
    padding: 0 15px;
    width: auto;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-thumb-logo {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-thumb-social {
    margin-right: 80px;
  }
}
.logo-part-footer {
  color: var(--light-color);
}
.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-logo {
    text-align: start;
  }
}
.footer-text {
  max-width: 268px;
}
@media only screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
  }
}
.social-text-footer {
  text-align: center;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--third-color);
}
@media only screen and (min-width: 768px) {
  .social-text-footer {
    text-align: start;
  }
}
.social-list-footer {
  display: flex;
  gap: 16px;
}
.social-item-footer {
  width: 40px;
  height: 40px;
}
.social-link-footer {
  transition: background-color var(--transition-timings);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  background-color: var(--primary-brand-color);
  color: var(--light-color);
  border-radius: 50%;
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--success-color);
}
.social-icon-footer,
.subscribe-icon-footer {
  transition: fill var(--transition-timings);

  fill: currentColor;
  object-fit: cover;
}
.footer-thumb-form {
  width: 93%;
}
@media only screen and (min-width: 768px) {
  .footer-thumb-form {
    width: auto;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-thumb-form {
    margin-left: auto;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-form {
    margin-right: 0;
  }
}
.footer-form-label {
  display: block;
  margin-bottom: 16px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--third-color);
}
@media only screen and (min-width: 768px) {
  .footer-form-label {
    text-align: start;
  }
}
.footer-form-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-form-wrapper {
    flex-direction: row;
    gap: var(--gap-x);
  }
}
.footer-form-input {
  transition: border-color var(--transition-timings);
  opacity: 0.3;

  width: 100%;
  height: 40px;
  color: var(--third-color);
  background-color: transparent;
  border: 1px solid var(--third-color);
  filter: var(--footer-input-shadow);
  border-radius: 4px;
  padding: 8px 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--third-color);
}
@media only screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}
@media only screen and (min-width: 1158px) and (max-width: 1178px) {
  .footer-form-input {
    width: 250px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-form-input {
    opacity: 1;
  }
}
.footer-form-input::placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--third-color);
}
.footer-form-input:focus-visible {
  outline: transparent;
  border-color: var(--primary-brand-color);
}
.footer-form-btn {
  transition: background-color var(--transition-timings);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;

  width: 165px;
  border-radius: 4px;
  border: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--third-color);
  background-color: var(--primary-brand-color);
  box-shadow: var(--hero-btn-shadow);
}

/* Modal */

.backdrop {
  opacity: 1;
  transition: opacity var(--transition-timings),
    visibility var(--transition-timings);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .backdrop {
  opacity: 0;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.85);
  opacity: 0;
}
.modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform var(--transition-timings);

  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 392px;
  min-height: 586px;
  background-color: var(--modal-background);
  box-shadow: var(--modal-shadow);
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  overflow-y: auto;
}
@media screen and (min-width: 428px) and (max-width: 767px) {
  .modal {
    width: 392px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 24px;
    padding-top: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .modal {
    min-height: 584px;
  }
}
.modal-close-btn {
  transition: background-color var(--transition-timings),
    border var(--transition-timings);

  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  border: 1px solid var(--close-btn-border);
  padding: 0;
  cursor: pointer;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--third-color);
  background-color: var(--pressed-state-color);
  border: transparent;
}
.icon-close-modal {
  transition: fill var(--transition-timings);

  fill: currentColor;
}
.modal-form-group {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 24px;
}
.modal-form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
@media screen and (max-width: 395px) {
  .modal-form-title {
    font-size: 12px;
  }
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--subtitle-color);
}
.modal-form-label-name {
  letter-spacing: 0.04em;
}
.modal-form-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-input {
  transition: border-color var(--transition-timings);
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid var(--modal-overlay);
  border-radius: 4px;

  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
}
.modal-form-input:focus-visible {
  outline: transparent;
  border-color: var(--primary-brand-color);
}
.modal-form-icon {
  transition: fill var(--transition-timings);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--secondary-color);
}
.modal-form-input:focus-visible + .modal-form-icon {
  fill: var(--primary-brand-color);
}
.modal-form-comment {
  transition: border-color var(--transition-timings);
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: 1px solid var(--modal-overlay);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
}
.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-overlay);
}
.modal-form-comment:focus-visible {
  outline: none;
  border-color: var(--primary-brand-color);
}
.modal-form-agreement-label {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.modal-form-custom-checkbox {
  transition: background-color var(--transition-timings),
    border-color var(--transition-timings),
    outline-color var(--transition-timings);

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--modal-overlay);
  border-radius: 2px;
  background-color: transparent;
}
.modal-form-check-input:checked + .modal-form-custom-checkbox {
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}
.modal-form-check-input:focus-visible + .modal-form-custom-checkbox {
  outline: 2px solid var(--primary-brand-color);
}
.modal-icon-check-mark {
  transition: opacity var(--transition-timings);

  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  fill: var(--light-color);
  opacity: 0;
}
.modal-form-check-input:checked ~ .modal-icon-check-mark {
  opacity: 1;
}
.modal-form-agreement-text {
  user-select: none;
  padding-left: 24px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtitle-color);
}
@media screen and (max-width: 395px) {
  .modal-form-agreement-text {
    width: 215px;
  }
}
.modal-form-agreement-link {
  transition: color var(--transition-timings),
    outline-color var(--transition-timings);

  color: var(--primary-brand-color);
}
.modal-form-agreement-link:focus-visible {
  outline-color: var(--primary-brand-color);
}
.modal-form-agreement-link:focus,
.modal-form-agreement-link:hover,
.modal-form-agreement-link:active,
.modal-form-agreement-link:visited {
  color: var(--pressed-state-color);
}

/* --------------------------------
   Portfolio
   -------------------------------- */

.projects-section {
  padding: 48px 0;
}
@media screen and (min-width: 768px) {
  .projects-section {
    padding: 64px 0 96px 0;
  }
}
@media screen and (min-width: 1158px) {
  .projects-section {
    padding: 100px 0 120px 0;
  }
}

/* Filter */

.filter-list {
  display: flex;
  flex-wrap: wrap;
  --gap-y: 16px;
  width: 275px;
  margin-bottom: 48px;
  justify-content: start;
}
@media screen and (min-width: 768px) {
  .filter-list {
    width: auto;
    justify-content: center;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1158px) {
  .filter-list {
    margin-bottom: 72px;
  }
}
.filter-btn {
  transition: color var(--transition-timings),
    background-color var(--transition-timings),
    border-color var(--transition-timings), box-shadow var(--transition-timings);

  padding: 8px 16px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-brand-color);
  background: var(--light-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .filter-btn {
    padding: 12px 24px;
  }
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--third-color);
  background-color: var(--pressed-state-color);
  border: 1px solid transparent;
  box-shadow: var(--filter-shadow);
}

/* Projects */

.project-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 275px;
  column-gap: var(--gap-x);
  row-gap: 48px;
}
@media screen and (min-width: 768px) {
  .project-list {
    --items: 2;
    row-gap: var(--gap-y);
    column-gap: 7px;
  }
}
@media screen and (min-width: 785px) {
  .project-list {
    row-gap: var(--gap-y);
    column-gap: var(--gap-x);
  }
}
@media screen and (min-width: 1158px) {
  .project-list {
    --items: 3;
    row-gap: 48px;
    column-gap: 15px;
  }
}
@media screen and (min-width: 1175px) {
  .project-list {
    column-gap: var(--gap-x);
  }
}
.project-item {
  max-width: calc(100% - ((var(--gap-x) * (var(--items) - 1)) / var(--items)));
}
.project-link {
  transition: box-shadow var(--transition-timings);

  display: block;
}
.project-link:hover,
.project-link:focus {
  box-shadow: var(--project-shadow);
}
.project-link:hover .project-thumb-text,
.project-link:focus .project-thumb-text {
  transform: translateY(0);
}
.project-thumb {
  position: relative;
  overflow: hidden;
}
.project-thumb-text {
  display: none;
}
@media screen and (min-width: 1158px) {
  .project-thumb-text {
    transform: translateY(100%);
    transition: transform var(--transition-timings);

    position: absolute;
    top: 0;

    display: block;
    width: 100%;
    height: 100%;
    padding: 40px 32px;

    background-color: var(--primary-brand-color);
    color: var(--light-color);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.project-container {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}
.project-title {
  margin-bottom: 8px;
}
.project-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text);
}
